.menu {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.menu-container {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: #a07159;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.menu-container.plot {
  background-color: #985937cc;
}

.menu-container .menu-btn {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 4rem;
}

.menu-container .menu-chatbot-btn {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: linear-gradient(45deg, #c6f6fb, #62e0d9);
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  opacity: 1;
}

.menu-container button {
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

.menu-container button.active {
  transform: translateY(-5px);
}

.menu-container button:hover {
  transform: translateY(-5px);
}

.menu-container .menu-btn img {
  width: auto;
  height: 1.3rem;
}

.menu-container .menu-btn span {
  color: #fff;
  font-size: 0.8rem;
}
